/* #reset-password{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; 
    */
    input{
        padding: 0.4rem;
        width: 21rem;
        border-radius: 0.4rem;
        font-size: medium;
        margin: 0.5rem;
    }
    label{
        font-size: large;
        margin: 0.5rem;
    }
    h2{
        text-align: center;
    }

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    padding: 33px;
    margin: auto;
    border: 5px solid #b3b237;
}



button[type="submit"]{
    padding: 6px;
    border-radius: 5px;
    font-size: medium;
}